.nav-list{
   display:flex;
   list-style-type: none;
   margin: 0;
}

.item{
   margin-left: 3rem;
   text-decoration: none;
   color: #777777;

   &:hover{
      color: #111111;
   }
}

.active-item{
   color: #000;
}

.header{
   grid-column: 1/-1;
   margin: 0 auto;
   
   &__list{

   }

   &__top_search{

      &--icons{

      }
   }
   


}